default: &default
  adapter: mysql2
  encoding: utf8
  pool: 5
  <% if ENV['DATABASE_USERNAME'].present? %>
  username: <%= ENV['DATABASE_USERNAME'] %>
  <% end %>
  <% if ENV['DATABASE_PASSWORD'].present? %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  <% end %>
  host: localhost

development:
  <<: *default
  database: retail_store_development

production:
  <<: *default
  database: retail_store
