development:
  database_username: ''
  database_password: ''
  secret_key_base: ''
  alipay_pid: ''
  alipay_key: ''
  weixin_appid: ''
  weixin_mch_id: ''
  weixin_key: ''
  igetui_app_id: ''
  igetui_app_key: ''
  igetui_master_secret: ''
  igetui_shop_app_id: ''
  igetui_shop_app_key: ''
  igetui_shop_master_secret: ''
  jpush_app_key: ''
  jpush_master_secret: ''
  jpush_shop_app_key: ''
  jpush_shop_master_secret: ''
production:
  database_username: ''
  database_password: ''
  secret_key_base: ''
  alipay_pid: ''
  alipay_key: ''
  weixin_appid: ''
  weixin_mch_id: ''
  weixin_key: ''
  igetui_app_id: ''
  igetui_app_key: ''
  igetui_master_secret: ''
  igetui_shop_app_id: ''
  igetui_shop_app_key: ''
  igetui_shop_master_secret: ''
  jpush_app_key: ''
  jpush_master_secret: ''
  jpush_shop_app_key: ''
  jpush_shop_master_secret: ''
