<% if page.current? %>
  <a class="btn btn-primary"><%= page %></a>
<% else %>
  <%= link_to page, url, {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil, class: "btn btn-default"} %>
<% end %>

