@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'add-ons.min';
@import 'jquery.mmenu';
@import 'style';
@import 'css/skycons';
@import 'font-awesome';
@import 'fullcalendar';
@import 'bootkit';
@import 'bootstrap-colorpicker';
@import 'bootstrap-tagsinput';
@import 'dropzone';
@import "bootstrap-datetimepicker.min";
@import "datepicker";
// @import "datepicker3";
// @import "datepicker-theme";
// @import "bootstrap-timepicker";

.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}